@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  background-color: theme("colors.paper");
  color: theme("colors.ink");
}

body {
  font-family: theme("fontFamily.serif");
  line-height: 1.55;
}
